{% extends "Broadcast/base.html" %}


{% block content %}
	<div>
		<p>
			<strong>我是广告主，我是来投广告的</strong>
		</p>
		<p>
			说明：
			1）你可以上传广告图片
			2）编写广告文字
			3）设置红包大小，关联红包分配机制
			4）设置广告投放时间
		</p>

	</div>

	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="..." alt="...">
				<div class="caption">
					<h3>广告编辑区域</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="..." alt="...">
				<div class="caption">
					<h3>设置红包大小，关联红包分配机制</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="..." alt="...">
				<div class="caption">
					<h3>设置广告投放时间</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
	</div>
	
	<div>
		<a href="broadmaster" class="btn btn-default btn-lg btn-block" role="button">点击发布广告</a>
		
	</div>


{% endblock %}